# There are a number of modifiers that are allowed to be used in some
# of the different fields. They provide the following subsitutions:
#
# %n the "kernel number" of the device.
#    For example, 'sda3' has a "kernel number" of '3'
# %k the kernel name for the device
# %M the kernel major number for the device
# %m the kernel minor number for the device
# %b the bus id for the device
# %c the string returned by the PROGRAM
# %s{filename} the content of a sysfs attribute
# %% the '%' char itself
# udevadm info --attribute-walk --path=/sys/bus/usb-serial/devices/ttyUSB0

### eBus-Coupler / E-Service-Online ###

SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", \
        ATTRS{product}=="eBus Coupler", ATTRS{manufacturer}=="E-Service Online" \
                                        SYMLINK+="ebus-usb"
