/INSTALL
*Makefile
*Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/config*
/depcomp
/libebus-*.pc
/libebus-*.tar.*
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.libs/
*.l[ao]
*.o
*.dirstamp
test_*
/compile
*.a
/tools/check
/tools/csv
/tools/ebus_send
ebusd
