[Unit]
Description=ebusd, the daemon for communication with eBUS heating systems.
After=local-fs.target
ConditionPathExists=/var/log

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/ebusd
ExecStart=/usr/share/ebusd/init.sh start $EBUSD_OPTS
Restart=always
PIDFile=/run/ebusd.pid

[Install]
WantedBy=multi-user.target
